# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Odoo
*.log
.vscode
.idea
*.pyc
*.pyo
.env
.DS_Store

# Project specific
*.bak
*.swp
*~ 